{% extends 'blog/base.html' %}

{% block body_block %}

    <div class="centerstage">
        {% for post in post_list %}
            <h1 class="post-title-list">
                <a href={% url 'post_detail' pk=post.pk %}>{{ post.title }}</a>
            </h1>

            <div class="date">
                <p>Published on: {{ post.published_date|date:"d.m.Y" }}</p>
            </div>

            <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approve_comment.count }}</a>
        {% endfor %}
    </div>

{% endblock %}